pandas
requests
apache-airflow-providers-postgres
apache-airflow
hvac
Pyro5
alpha_vantage
pyarrow
feedparser
sqlalchemy
psycopg2-binary
msgpack

# ML Training dependencies
numpy
matplotlib
seaborn
scikit-learn
lightgbm
xgboost
shap
mlflow

#stable-baselines3
#gymnasium
#torch

#tensorboard

#plotly
#tqdm
#loguru

#yfinance
#optuna

#wandb
#alibi-detect

bs4
lxml